.origin {
  transform: translateY(-100px);
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-color: white;
  position: relative;

  span {
    font-weight: 500;
  }

  p {
    color: #1a1442;
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: 350;
    transform: translateY(-20px);
    text-align: center;
  }

  h3 {
    font-size: 3rem;
    font-family: 'SF New Republic';
    font-weight: 400;
    color: #1a1442;
  }

  img {
    width: 50%;
    z-index: -1;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }
    div {
      display: flex;
      justify-content: center;
      position: relative;
      img {
        width: 80%;
        align-items: flex-end;
        transform: translateY(70px);
      }
    }
  }

  .origin-start {
    position: absolute;
    transform: translateX(150px);
    top: 250px;
    width: 35%;
    cursor: pointer;
    z-index: 1;
  }
}

.origin-button {
  font-size: 1.8rem;
  width: 350px;
  position: absolute;
  bottom: 0;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: #014c87;
  color: white;
  font-family: 'Roboto';
  background-image: url('../../assets/paw.png');
  background-repeat: no-repeat;
  background-position: 80%;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .origin {
    box-sizing: border-box;
    transform: translateY(-100px);
    text-align: center;
    padding: 0 20px;

    h3 {
      font-size: 2.5rem;
    }

    img {
      width: 50%;
      z-index: -1;
    }

    .content {
      width: 100%;

      img {
        width: 50%;
      }
      div {
        img {
          width: 90%;
          align-items: flex-end;
          transform: translateY(0px);
        }
      }
    }

    .origin-start {
      transform: translateX(20px);
      top: 320px;
      width: 36%;
    }
  }

  .origin-button {
    font-size: 0.8rem;
    width: 100px;
    height: 30px;
    background-image: none;
  }
}
